<div class="hal" id="">
    <nav class="navbar navbar-expand-md navbar-dark bg-black bg-opacity-50 p-4">
      <div class="container-fluid">
        <a class="logo mx-5 pr-5" href="">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto gap-4 mx-5">
            <li class="nav-item">
              <a class="nav-link" href="home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="work">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">ABOUT ME</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-5 gap-4">
            <li class="nav-item">
              <a href="" class="nav-link">SIGN UP</a>
            </li>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="" class="nav-link">LOGIN</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>