<%- include('layouts/header') %>
<%- include('layouts/nav') %>
            <h1 style="align-items: center; text-align: center; justify-content: center;">SAYA SUKA BERMAIN GAME</h1>
      </section>
    </body>

</html>