<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@700&family=Silkscreen&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./games/style.css">
    <link rel="" href="">
    <title>Games</title>
</head>

<body>
    <div class="back"><a href="../home">BACK</a></div>
        <div class="container bg mt-5 g-4">
        <div class="row">
            <div class="col-3">
                <div class="suwit text-lg-center">
                    <h1>PLAYER 1</h1>
                    <ul class="option">
                        <li>
                            <img class="batu" src="./games/assets/batu.png" alt=""> 
                        </li>
                        <li>
                            <img class="kertas" src="./games/assets/kertas.png" alt="">
                        </li>
                        <li>
                            <img class="gunting" src="./games/assets/gunting.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col info">
                <h1>VS</h1>
            </div>
            <div class="col-3">
                <div class="suwit text-lg-center">
                    <h1>COM</h1>
                    <ul class="option-com">
                        <li>
                            <img class="batu-com" id="batucom" src="./games/assets/batu.png" alt=""> 
                        </li>
                        <li>
                            <img class="kertas-com" id="kertascom" src="./games/assets/kertas.png" alt="">
                        </li>
                        <li>
                            <img class="gunting-com" id="guntingcom" src="./games/assets/gunting.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="refresh">
                    <a href="games">
                        <img class="" src="./games/assets/refresh.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    <script src="/games/script.js"></script>
</body>

</html>