<%- include('layouts/header') %>
      <%- include('layouts/nav') %>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="play">
                <h1 style="font-size: 6vb;">PLAY TRADITIONAL GAME</h1>
                <br>
                <p style="font-size: 3vb;">Experience new traditional game play</p>
                <button type="button" class="playnow"><a href="games" style="text-decoration: none; color: black !important;">PLAY NOW</a></button>
              </div>
            </div>
          </div>
        </div>
        <div class="scrolldown">
          <a href="#halaman2" style="color: white;">
            THE STORY
            <br>
            <img src="assets\scroll-down.svg" alt="#">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="halaman2">
    <div>
      <div>
        <img src="assets/the-games-bg.jpg" alt="" class="gambar">
      </div>
      <div class="hal">
        <div class="container-fluid">
          <div class="row h-auto pt-5">
            <div class="col-md-3 ms-4">
              <div class="games mt-5 pt-5 ml-5">
                <h2 style="font-size: 2vw;">What's so special?</h2>
                <h1 class="" style="font-size: 4vw;">THE GAMES</h1>
              </div>
            </div>

            <div class="col-md-8 pt-5 mt-5">
              <div id="demo" class="carousel slide w-75 " data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/rockpaperstrategy-1600.jpg" alt="Los Angeles" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/blankimage.jpg" alt="Chicago" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/blankimage.jpg" alt="New York" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/blankimage.jpg" alt="New York" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/blankimage.jpg" alt="New York" class="d-block w-100">
                  </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                  <img src="assets/switch-left.svg" alt="">
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                  <img src="assets/switch-right.svg" alt="">
                </button>
              </div>
            </div>

          </div>
        </div>
  </section>

  <section>
    <div>
      <div>
        <img src="assets/features.jpg" alt="" class="gambar">
      </div>
      <div class="hal">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md">
              <div class="feature">
                <h5 style="font-size: 1.5vw;">What's so special features?</h5>
                <h1 style="font-size: 4vw;">FEATURES</h1>
                <ul class="listfeature">
                  <li>
                    <h3 style="font-size: 2.5vw;">TRADITIONAL GAMES</h3>
                    <p style="font-size: 1.5vw;">If you miss your childhood, we provide many traditional games here</p>
                  </li>
                  <li>
                    <h3 style="font-size: 2.5vw;">GAME SUIT</h3>
                  </li>
                  <li>
                    <h3 style="font-size: 2.5vw;">TBD</h3>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <div>
        <img src="assets/requirements.png" alt="" class="gambar" style="filter: brightness(70%);">
      </div>
      <div class="hal">
        <h5 class="run">Can My Computer Run this game?</h5>
        <div class="tabel">
          <h1 style="font-size: 4vw;">SYSTEM REQUIREMENTS</h1>
          <table style="max-width: 100%;">
            <tr>
              <td>
                <h1>OS:</h1>
                <p>Windows 7 64-bit only (No OSX support at this time)</p>
              </td>
              <td>
                <h1>PROCESSOR:</h1>
                <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
              </td>
            </tr>
            <tr>
              <td>
                <h1>MEMORY</h1>
                <p>4 GB RAM</p>
              </td>
              <td>
                <h1>STORAGE</h1>
                <p>8 GB available space</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <h1>GRAPHICS</h1>
                NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="halaman4">
    <div class="background5">
      <div class="hal">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 mt-5 mb-5">
              <div class="topscore">
                <h1 style="font-size: 4vw;">TOP SCORES</h1>
                <p>This top score from various games provided on this platform</p>
                <button type="button" class="playnow">see more</button>
              </div>
            </div>
            <div class="col-xxl-6">
              <div class="cards">
                <div class="card1">
                  <div class="profile">
                    <img src="assets/evan-lahti.jpg" alt="" class="avatar">
                    <div class="pengguna">
                      <h2 class="name">Evan Lahti</h2>
                      <p class="job">PC Gamer</p>
                    </div>
                    <a href="#"><img src="assets/twitter-card.png" alt="" class="twitter"></a>
                  </div>
                  <p class="katakata">"One of my gaming highlights of the year"</p>
                  <p class="tanggal">June 18, 2021</p>
                </div>

                <div class="card1" style="margin-right: 25%;">
                  <div class="profile">
                    <img src="assets/jada-griffin.jpg" alt="" class="avatar">
                    <div class="pengguna">
                      <h2 class="name">Jada Griffin</h2>
                      <p class="job">Nerdreactor</p>
                    </div>
                    <a href="#"><img src="assets/twitter-card.png" alt="" class="twitter"></a>
                  </div>
                  <p class="katakata">"The next bigh thing in the world of streaming and survival games"</p>
                  <p class="tanggal">July 10, 2021</p>
                </div>

                <div class="card1" style="margin-right: 15%;">
                  <div class="profile">
                    <img src="assets/aaron-williams.jpg" alt="" class="avatar">
                    <div class="pengguna">
                      <h2 class="name">Aaron Williams</h2>
                      <p class="job">Uproxx</p>
                    </div>
                    <a href="#"><img src="assets/twitter-card.png" alt="" class="twitter"></a>
                  </div>
                  <p class="katakata">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous"</p>
                  <p class="tanggal">December 24, 2018</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="lastpage" style="background-color: black;">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-5">
          <img class="" src="assets/skull.png" alt="" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-xl-7 mt-auto mb-auto">
          <div class=" row" style="color: white;">
            <div class="col">
              <h4>Want To Stay in Touch?</h3>
            </div>
            <div class="row">
              <div class="col">
                <h1>Newsletter Subscribe</h3>
              </div>
              <div class="row">
                <div class="col">
                  <p>In order to start receiving our news, all you have to do is enter your email address. Everything
                    else
                    will be taken care of by us. We will send you emails containing information about game. We dont
                    spam.</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="youremail">
                    <label for="email1" class="labelemail">Your Email Address</label>
                    <input type="text" name="email1" id="email1" placeholder="youremail@binar.co.id" class="email1">
                    <a href="#"><button class="subscribe">SUBSCRIBE NOW</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="navbot row g-md-5">
          <div class="col-md-3"></div>
          <div class="col-md-9 g-5">
            <ul class="d-flex gap-4 ms-5" style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link" href="">MAIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">GAME FEATURES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">QUOTES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><img src="assets/facebook.svg" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><img src="assets/twitter.svg" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><img src="assets/icons8-youtube.svg" style="height: 1vw;" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""><img src="assets/twitch.svg" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr style="height: 2px; width: 100%; color: white;">
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <p class="copyright">&#169; 2018 Your Games, Inc. All Rights Reserved</p>
          </div>
          <div class="col-md-7">
            <div class="menubot d-flex gap-3">
              <a class="text-decoration-none" href="">PRIVACY POLICY </a>
              <p>|</p>
              <a class="text-decoration-none" href="">TERMS OF SERVICES</a>
              <p>|</p>
              <a class="text-decoration-none" href=""> CODE OF CONDUCT</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </section>
</body>

</html>