:root {
    --txt-primary: font-family: 'Bebas Neue', cursive;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
    size: 80px; 
    font-family: var(--txt-primary);
}

h2 {
    font-weight: bold;
    size: 36px;
    font-family: var(--txt-primary);
}

h3 {
    font-weight: bold;
    size: 24px;
    font-family: var(--txt-primary);
}


body,
html,
a {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(12, 12, 12);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none;
}

.background1 {
    height: 100vh;
    width: 100%;
    /* background: url(./assets/main-bg.jpg) no-repeat center;  */
    background-size: cover;

}

.background2 {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/the-games-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    "

}

.background3 {
    height: 100vh;
    width: 100%;
    background-image: url(assets/features.jpg);
    background-size: cover;

}

.background4 {

    height: 100va;
    width: 100%;
    background-image: url(assets/requirements.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.background5 {
    background-image: url(assets/top-score-bg.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    z-index: -2;

}

.gambar {
    z-index: -7;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.bgnavbar {
    background-color: hsla(0, 0%, 0%, 0.527);
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.alamat {
    color: white;
    text-decoration: none;

}

.bgnavbar a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
}


.bgnavbar a:hover {
    color: orange;
    transition: .5s ease;
}

a:hover {
    color: orange;
    transition: .5s ease;
}

.logo {
    float: left;
    color: white;
    display: inline;
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
    margin-right: auto;
    text-decoration: none;
}

.mainmenu {
    color: white;
    display: inline;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 10%;
    font-family: var(--txt-primary);
}

.experience {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.playnow {
    text-align: center;
    justify-content: center;
    height: 50px;
    max-width: 250px;
    color: black;
    background-color: orange;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;

}

.playnow:hover {
    background-color: rgb(189, 125, 7);
    cursor: pointer;
}

.scrolldown {
    top: 90%;
    left: 50%;
    color: white;
    font-weight: bold;
    align-items: center;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.scrolldown a {
    text-decoration: none;
}

.scrolldown a:hover {
    color: orange;
    transition: .5s ease;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

.hal {
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: white;
}


.games {
    color: white;
    padding-top: 10%;
    padding-left: 3%;
    width: auto;
    position: relative;
}



.icon {
    background-color: red;
    position: absolute;
    display: flex;
    bottom: 0;
    padding: 0;
}



.fotoslide {
    top: -5%;
    max-width: 80%;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.fotoslide ul {
    display: flex;
    position: absolute;
    bottom: 0;
}

.fotoslide li {
    margin: 25px;
    height: auto;
    list-style: none;
}

.fotoslide img {
    height: auto;
    max-width: 80%;
    height: auto;
}


.kontrolkiri,
.kontrolkanan {
    padding-left: 7%;
    padding-right: 7%;
    cursor: pointer;
    position: absolute;
    user-select: none;
}

.kontrolkanan {
    right: 0;
}

.kontrolkiri {
    left: 0;
}

.feature {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    margin-left: 60%;
    font-family: var(--txt-primary);
    color: white;
}


.listfeature {
    list-style-image: url(assets/ellipse.svg);
    list-style-position: outside;
}

.listfeature li {
    padding-left: 5%;
    padding-top: 10%;
}

.listfeature li h3 {
    color: orange;
}

.run {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 3%;
    font-weight: lighter;
}

.tabel {
    width: 30%;
    height: auto;
    margin-left: 10%;

}

table h1 {
    color: orange;
    font-weight: 400;
}

.tabel table,
th,
td {
    margin-top: 5%;
    border: 2px solid rgba(255, 255, 255, 0.178);
    font-size: 20px;
}

.topscore {
    align-items: center;
    justify-content: center;
    place-content: center;
    padding-top: 25%;
    margin-left: 10%;
    width: 50%;
}

.topscore h1 {
    font-size: 500%;
    padding-bottom: 20px;
}

.topscore p {
    font-size: 150%;
    font-weight: lighter;
}

.cards {
    padding-top: 5%;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card1 {
    width: 80%;
    height: auto;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3%;
}

.card:hover {
    box-shadow: 2px 2px 2px 1px rgb(58, 58, 58);
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

.avatar {
    margin-left: 10px;
    height: 70px;
    width: 70px;
    padding-left: ;
    border-radius: 50px;
    box-shadow: 8px 3px 1px 5px orange;
}

.pengguna {
    margin-left: 15px;
}

.name {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: lighter;
    color: orange;
}

.job {
    margin-left: 20px;
    bottom: 15px;
    position: relative;
    font-size: large;
    font-weight: lighter;
    color: rgb(185, 184, 184);
}

.twitter {
    right: 30px;
    top: 30px;
    height: 20px;
    width: auto;
    margin-bottom: 25px;
    position: absolute;
}

.katakata,
.tanggal {
    margin-left: 10px;
}

.tanggal {
    color: rgb(185, 184, 184);

}

.tengkorak {
    position: relative;
    padding-top: 4%;
    margin-left: 20%;
}

.tengkorak img {
    border-radius: 40%;
    filter: opacity(80%);
    max-width: 70%;
    max-width: 70;
}

.newsletter {
    position: absolute;
    width: 650px;
    height: auto;
    right: 20%;
    top: 20%;
    padding: 2px;
}

.youremail {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 50px;
}

.email1 {
    height: 55px;
    width: 380px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    border: none;
    color: orange;
    font-size: large;

}

.youremail input[type=text] {
    padding-top: 15px;
    padding-left: 5px;
}

.labelemail {
    position: absolute;
    top: 0;
    font-weight: bold;
    font-size: small;
    color: rgb(184, 184, 184);
    padding-left: 5px;
    z-index: 3;
}

.subscribe {
    margin-left: 15px;
    text-align: center;
    justify-content: center;
    height: 55px;
    width: 250px;
    color: black;
    background-color: orange;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    right: 0;
    top: 0px;
    cursor: pointer;
}

.subscribe:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: .55s ease;
}


.bawah {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.navbot {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: .7vw;
    font-weight: bold;
    text-transform: uppercase;
}

.navbot a {
    text-decoration: none;
    margin-left: .8vw;
}

.garisbawah {
    width: 64%;
}

.copyright {
    display: flex;
    color: rgb(124, 124, 124);
    position: relative;
}

.menubot {
    position: relative;
    display: flex;
    font-size: 14px;
    float: right;
}

.menubot a {
    text-decoration: none;

}

footer {
    color: white;
}

footer > ul, li, a {
    color: white !important;
}

@media (max-width: 1135px) {

    .fotoslide {
        display: flex;
        position: relative;
        top: 30px;
        width: 100%;
        height: auto;
        padding: 0;
        float: left;
        margin-left: -5%;
    }

    .feature {

    }

    .cards {
        display: grid;
        width: 90%;
        bottom: 0;
    }

    .navbot {
        display: flex;
        font-size: 8px;
        gap: 8px;
        margin: 0;
        left: 0;

        flex-wrap: wrap;
    }
    .navbot img, svg {
        width: 10px;
        height: 10px;
    }

    .garisbawah {
        width: 100%;
    }

    .copyright {
        font-size: 8px;
    }

    .menubot {
        font-size: 9px;
        position: relative;
        margin-right: 35em;
    }

}

@media (max-width: 1399px) {
    .halaman4 {
        height: 120vh;
    }


    .topscore {
        margin-top: -10vw;
    }
    
    .topscore > button {
        margin-top: 0vw;
    }

    .cards {
        display: block;
        margin-top: -5vw;
        margin-bottom: 10vw;
        max-width: fit-content;
        gap: 0;
    }

    .card1 * {
        max-height: fit-content;
    }

    .background5 {
        height: 130vh;
    }

    .games {
        margin-left: -5vw;
    }

    .carousel {
        
    }

    body {
        background-color: black;
    }

    .lastpage {
        height: 150vh;
    }
    .youremail < {
        width: 40%;
    }
}

.suwit {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.option {}