body {
    background-color: rgb(174, 134, 106);
    margin: 0;
    padding: 0;
}

.option img {
    height: 100px;
    width: 100px;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.option li{
    padding: 80px;
    list-style: none;
}

.option-com img {
    height: 100px;
    width: 100px;
}
.option-com li {
    padding: 80px;
    list-style: none;
}

.refresh {
    margin-top: 10%;
}

.refresh img {
    height: 100px;
    width: 100px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.refresh:hover {
    transform: rotate(-100deg);
    transition: all 0.7s ease;
}

.suwit {
    gap: 70px;
    display: flex;
    flex-direction: column;
}

.suwit-com {
    gap: 70px;
    display: flex;
    flex-direction: column;
}

.option img:hover {
    cursor: pointer;
    opacity: 1;
    background-color: gainsboro;
    border-radius: 20px;
    border: 15px solid gainsboro;
}

.option img:active {
    border: 10px solid yellow;
    box-shadow: 0px 0px 150px 20px orange;
}

.info {
    color: rgb(195, 8, 8);
    align-items: center;
    text-align: center;
    margin-top: 35%;
    font-size: 20px;
}

.info h1 {
    font-size: 125px;
}

.hasil {
    display: flex;
    height: 250px;
    max-width: 700px;
    background-color: rgb(30, 198, 30);
    transform: rotate(-50deg);
    color: rgb(195, 8, 8);
    align-items: center;
    justify-content: center;
    place-content: center;
    text-align: center;
    margin-top: 30%;
    font-size: 50px;
    padding: 20px;
}

.back a{
    font-size: 50px;
    text-decoration: none;
    color: white;
    float: left;
    margin-left: 3%;
    margin-bottom: 3%;
    display: flex;
    padding-bottom: 20px;
    position: absolute;

}

.back a:hover {
    color: orange;
    transition: all .5s ease;
}

.back {
    border: 2px solid rgb(174, 134, 106);
}

